body {
    background-color: #333;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

nav a {
    color: #fff;
    font-size: 24px;
    font-family: 'dejaVu sans', sans-serif;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #ff0;
}

/* properly style h1 */
h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px 0;
}

/* properly style h2 */
h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px 0;
}

h3 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.items{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

}

.label {
    display: flex;
    flex-direction: column;
}


.label {
    /* make the text white */
    color: white;
    
    ul {
        list-style-type: circle;
    }
}

#budget, #intermediate, #expensive {

    img {
        width: 300px;
        height: auto;
        justify-content: center;

    }
    padding: 20px;
    border: 5px solid yellow;
    border-radius: 20px;
    background-color: #4c4c4c;
    
}

.price {
    color: yellow;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category{
    color: yellow;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-name {
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}



/* INDEX.html */
.cover-image {
    text-align: center;
    img {
        width: 50%;
        height: auto;
    }
}

.welcome {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px 0;
}
.home-body {
    background-image: url("/images/homestock25.png");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

}

.pretty-nav {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-items: center;
    /* border: 10px solid yellow; */
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: -20px;
    height: 500px;
    line-height: 100px;
    text-align: center;
    justify-content: space-around;
    align-items: center;

    div{
        border: 10px solid yellow;
        border-radius: 30px;
        width: 400px;
        height: 100px
    }
    div:hover {
        background-color: yellow;
    }

    a {
        color: rgb(45, 220, 205);
        font-size: 35px;
        text-shadow: -2px 2px 0 #2e1111, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
    a:hover {
       
        color: rgb(45, 220, 205);
    }
} 
/* end of pretty nav */


.looking-for {
    font-size: 30px;
    font-style: italic;
    text-shadow: -2px 2px 0 #2e1111, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

.index-welcome{
    font-size: 40px;
}

/* style home-info (welcome paragraph) */
.home-info {
    color: white;
    
    p {font-size: 24px;}
    width: 500px;
    font-family: 'dejaVu sans', sans-serif;
    margin: 20px auto; /* Set top and bottom margin to 20px, and left and right margins to auto */
    border: 10px solid white;
    border-radius: 20px;
    padding: 10px;

    line-height: 29px;
}

.active {
    text-decoration: underline yellow;
    
}
